<div *ngFor="let cardWhitQuantity of cardsWhitQuantity">

    <div class="card-flex-container">
        <div class="image" [routerLink]="[ '/cards/' + cardWhitQuantity.card?.id ]">
            <img [src]="cardWhitQuantity.card?.imageUrl" alt="image">
        </div>
        <div class="infos">
            <div class="name">Name : {{ cardWhitQuantity.card?.name }}</div>
            <div class="price">Unit price : {{ cardWhitQuantity.card?.price }} €</div>
            <div class="quantity">Quantity : {{ cardWhitQuantity.quantity }}</div>
        </div>
        <div class="spacer"></div>
        <div class="actions">
            <div class="quantity" (click)="increaseQuantity(cardWhitQuantity)">
                <i class="material-icons material-icons--add">add</i>
            </div>
            <div class="remove" (click)="decreaseOrDelete(cardWhitQuantity)">
                <i class="material-icons material-icons--delete">remove</i>
            </div>
            <div class="remove" (click)="deleteCard(cardWhitQuantity)">
                <i class="material-icons material-icons--delete">delete</i>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cardsWhitQuantity?.length > 0" class="total-container">
    <div class="total-info">
        TOTAL : <span class="money">{{ totalAmount }} €</span>
    </div>
    <button type="button" class="btn btn-continue">Continue</button>
</div>

<div *ngIf="count === 0" class="not-found-flex-container">
    <div class="not-found">
        <div class="message">
            Your Shopping Cart is empty.
        </div>
        <div class="link">
            Try searching or go to <a [routerLink]="[ '/']">TabMo's home page</a>
        </div>
    </div>
</div>