<tabmo-filter></tabmo-filter>

<div *ngIf="(cards$ | async).cards?.length > 0" class="row text-center">
    <div *ngFor="let card of (cards$ | async).cards" class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
        <tabmo-card [card]="card"></tabmo-card>
    </div>
</div>

<div *ngIf="isDisplayPagination()" class="row justify-content-center">
    <ngb-pagination [collectionSize]="totalCount" [(page)]="page" [pageSize]="filter.pageSize"
        (pageChange)="updatePage()" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>

<div *ngIf="(cards$ | async).cards?.length === 0" class="row justify-content-center empty-list">
    No results found. Try checking your spelling or use more general terms!!
</div>