<!-- Global loader -->
<tabmo-loader></tabmo-loader>

<!-- application navbar -->
<tabmo-navbar></tabmo-navbar>

<div *ngIf="isHttpError" class="error-message">
    An error occurred while retrieving the data. Please try searching or contact customer support (06 66 66 66 66).
</div>

<div [ngClass]="{'container': !isHttpError, 'container--with-http-error': isHttpError }">
    <router-outlet></router-outlet>
</div>