@import '~src/styles/_variables';

.price {
    color: $accentuation-light-color;
}

.info {
    display: flex;

    .label {
        width: 15rem;
        margin-right: 1rem;
    }
}

.attacks {
    margin-top: 1rem;

    .attacks-column {
        &--cost {
            width: 200px;
        }
        &--energy {
            width: 200px;
        }
    }
}