<div *ngIf="card" class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="card.imageUrl" class="card-img" alt="img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="name">{{ card.name }} </span>
                    <span class="price">{{ card.price }} €</span>
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item info">
                        <span class="label">National Pokedex Number</span>
                        <span class="Value">{{ card.nationalPokedexNumber }}</span>
                    </li>
                    <li class="list-group-item info">
                        <span class="label">Types</span>
                        <span class="Value">
                            <span *ngFor="let type of card.types, index as i">
                                {{ type }}{{ i === card.types.length -1 ? '.' : ', ' }}
                            </span>
                        </span>
                    </li>
                    <li class="list-group-item info">
                        <span class="label">Super type</span>
                        <span class="Value">{{ card.supertype }}</span>
                    </li>
                    <li class="list-group-item info">
                        <span class="label">Subtype</span>
                        <span class="Value">{{ card.subtype }}</span>
                    </li>
                    <li class="list-group-item info">
                        <span class="label">Hp</span>
                        <span class="Value">{{ card.hp }}</span>
                    </li>
                    <li class="list-group-item info">
                        <span class="label">Set</span>
                        <span class="Value">{{ card.set }}</span>
                    </li>
                    <li class="list-group-item info">
                        <span class="label">Retreat cost</span>
                        <span class="Value">
                            <span *ngFor="let rc of card.retreatCost, index as i">
                                {{ rc }}{{ i === card.retreatCost.length -1 ? '.' : ', ' }}
                            </span>
                        </span>
                    </li>
                </ul>
                <div class="quantity-form">
                    <tabmo-quantity-form (addCard)="addCard($event)"></tabmo-quantity-form>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="card.attacks" class="attacks">
        <table class="table table-striped">
            <thead>
              <tr>
                <th class="attacks-column attacks-column--name">Name</th>
                <th class="attacks-column attacks-column--cost">Cost</th>
                <th class="attacks-column attacks-column--description">Description</th>
                <th class="attacks-column attacks-column--dommage">dommage</th>
                <th class="attacks-column attacks-column--energy">converted energy cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attack of card.attacks">
                <th>{{ attack.name }}</th>
                <th>
                    <span *ngFor="let cost of attack.cost, index as i">
                        {{ cost }}{{ i === attack.cost.length -1 ? '.' : ', ' }}
                    </span>
                </th>
                <th>{{ attack.text }}</th>
                <th>{{ attack.damage }}</th>
                <th>{{ attack.convertedEnergyCost }}</th>
              </tr>
            </tbody>
          </table>
    </div>
</div>