@import '~src/styles/_variables';

.loader-component {
    z-index: 100000000000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba($accentuation-color, 0.70);
    display: flex;
    padding-top: 15%;
    justify-content: space-around;

    .spinner-border {
        &--edition {
            width: 4rem;
            height: 4rem;
        }
    }
}